# Ignore system files and directories
.DS_Store
Thumbs.db
Desktop.ini

# Ignore user-specific directories
/Application Data/
/Cookies/
/Local Settings/
/My Documents/
/Recent/
/SendTo/
/Start Menu/

# Ignore Eclipse-specific files
.metadata/
.classpath
.project

# Ignore Visual Studio Code-specific files
.vscode/

# Ignore IntelliJ IDEA-specific files
.idea/